block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title}
    style
      include css/style.css
    link(rel="shortcut icon", href="/favicon.ico")
  body
    div
      block layout-content
  footer
    div
      p.footer YAWMI = Yet Another Whats My IP
      p.footer Made with ❤ by altan.me
  script 
      include js/click.js
  script(async, src="https://app-analytics.net.altan.me/js/script.js", data-domain="ip.altan.me")