@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: black;
  border: solid black;
  border-width: 12px 18px;
  border-radius: 0.4vw;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0.5em;
  width: 100%;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 2.5rem;
  white-space: nowrap;
  text-shadow: 0 1px 0 rgb(0, 0, 0);
}

p {
  margin: 0;
  font-size: 0.7rem;
}

.hub span:nth-child(2) {
  background: #3ae3ff;
  color: #000000;
  border-radius: 0.4vw;
  padding: 5px 15px 8px;
  display: inline-block;
}
